Date now = new Date()

/*
 * General Details on config setup:
 * https://www.nextflow.io/docs/latest/config.html
 */

manifest {
    description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow on GCP'
    author = 'ayoad@google.com'
    nextflowVersion = '>=20.07.0'
}

profiles {
    'rnaseq-nf-demo' {
        // docker
        docker.enabled = true

        // process
        process.executor = 'google-lifesciences'
        process.machineType = 'n1-highmem-8'
        process.container = 'nextflow/rnaseq-nf:latest'

        // google
        google.project = 'aadev-2342'
        google.region = 'us-central1'

        // params
        params.reads = 'gs://nextflow-gcp-tutorial-aa2/fastq/GRCh38/*_{1,2}.fastq.gz'
        params.star_index = 'gs://nextflow-gcp-tutorial-aa2/assembly-annotation/refdata-gex-GRCh38-2020-A/star'
        params.multiqc = 'gs://nextflow-gcp-tutorial-aa2/multiqc'
        params.trace_dir = 'pipeline_info'
        params.results_dir = 'results'
        params.timestamp = now.format('yyyyMMdd-HH-mm-ss')

        // workDir
        workDir = "gs://nextflow-gcp-tutorial-aa2/output/${params.timestamp}"

        // timeline
        timeline {
            enabled = true
            file = "${params.trace_dir}/${params.timestamp}_timeline.html"
        }

        // report
        report {
            enabled = true
            file = "${params.trace_dir}/${params.timestamp}_report.html"
        }

        // trace
        trace {
            enabled = true
            file = "${params.trace_dir}/${params.timestamp}_trace.txt"
        }

        // dag
        dag {
            enabled = true
            file = "${params.trace_dir}/${params.timestamp}_dag.svg"
        }
    }

    'paired-end-GRCh38' {
        // docker
        docker.enabled = true

        // process
        process.executor = 'google-lifesciences'
        process.machineType = 'n1-highmem-8'
        process.container = 'nextflow/rnaseq-nf:latest' // 'us-central1-docker.pkg.dev/aadev-2342/rnaseq-nf/demo:v1.0.0'

        // google
        google.project = 'aadev-2342'
        google.region = 'us-central1'

        // params
        params.reads = 'gs://nextflow-gcp-tutorial-aa2/nextflow-gcp-tutorial-aa2/fastq/GRCh38/*_{1,2}.fastq.gz'
        params.star_index = 'gs://nextflow-gcp-tutorial-aa2/assembly-annotation/refdata-gex-GRCh38-2020-A/star'
        params.timestamp = now.format('yyyyMMdd-HH-mm-ss')
        params.results_dir = "gs://nextflow-gcp-tutorial-aa2/output/${params.timestamp}/results"
        params.trace_dir = "gs://nextflow-gcp-tutorial-aa2/output/${params.timestamp}/pipeline_info"

        // workDir
        workDir = "gs://nextflow-gcp-tutorial-aa2/output/${params.timestamp}"

        // timeline
        timeline.enabled = true
        timeline.file = "${params.trace_dir}/${params.timestamp}_timeline.html"

        // report
        report.enabled = true
        report.file = "${params.trace_dir}/${params.timestamp}_report.html"

        // trace
        trace.enabled = true
        trace.file = "${params.trace_dir}/${params.timestamp}_trace.txt"

        // dag
        dag.enabled = true
        dag.file = "${params.trace_dir}/${params.timestamp}_dag.svg"
    }
}
